body{
    background-color: #2a5d5a;
}
.mmn{
    color:white ;
    text-align: center;
    background-color: #311313;
    width: 636px;
    height: 110px;
    margin: 0 auto;
    font-size:64px;
    padding-top:44px ;
}
.tre{
    border: solid red 10px;
    background-color: black;
    width:1000px ;
    height:638px;
    margin:0 auto ;

}
.ppo{
    background-color: #1FE8B7;
    width: 
    896px;
    height: 
    259px;
    text-align: center;
    font-size: x-large;
    margin: auto;
    padding-top:0px ;
    
 
}